<?xml version="1.0" standalone="no" ?>
<!-- Configuration Parmeters -->
<logfilename>/home/jdellaria/Desktop/logPrepareMusic.txt</logfilename>
<logvalue>logInformation</logvalue>
<logprintscreen>true</logprintscreen>
<logprintfile>true</logprintfile>
<logprinttime>true</logprinttime>
<MP3OriginalDirectory>/home/jdellaria/Desktop/New Albums/Original/</MP3OriginalDirectory>
<MP3StagingDirectory>/home/jdellaria/Desktop/New Albums/Staging/</MP3StagingDirectory>
<MP3MusicLibraryDirectory>/home/jdellaria/Desktop/Music/</MP3MusicLibraryDirectory>
